*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Amiri', serif ;
   
}

body{
    background-color: #f3f0dd;
}

.navbar {
    
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    margin-left: 50px;

    
    
}
#navbar__logo{
    color:#45806c;
    text-decoration: none;
    font-size: 55px;
    
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -250px;
    font-size: 35px;
    
}

.navbar__item{
    height: 60px;
    
}

.navbar__links{
    color: #45806c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.7rem;
}

.contant{
    margin-top: 70px;
    margin-left: 50px;
}

.main__img{
    margin-left: 100px;
    margin-top: -450px;
}
h1{
    color: #156598;
    margin-left: 1050px;
    margin-top: -500px;
    font-size: 45px;
}

p{
    color: #45806c;
    margin-left: 1050px;
    margin-top: 20px;
    font-size: 25px;
    color: #45806c;
}

h2{
    margin-top: 500px;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 27px;
    
}

.img1{
    margin-left: 50px;
    height: 250px;
    width: 200px;
    margin-top: 90px;
}

.img2{
    margin-left: 630px;
    margin-top: -140px;
}

.img3{
    margin-left: 1100px;
    margin-top: -510px;
}

.img4{
    margin-top: 70px;
    margin-left: 550px ;
}

.img5{
    margin-left: 950px;
    margin-top: -400px;
}

.img6{
    margin-left: 50px;
    margin-top: 30px;
}
.img7{
margin-left: 630px;
margin-top: -500px;
}

.intro h3{
    margin-top: 200px;
    font-size: 35px;
    margin-left: 600px;
    margin-right: 500px;
    color: #346353;
    font-family: 'Amiri', serif ;
}